{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/todo_edit.css'%}">
</head>
<body>
    <div class="main-div">
    <a href="{% url 'todo-list' %}"> back</a>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <label for="">Title</label> <br>
            {{form.title}} <br>
            <label for="">Description</label> <br>
            {% render_field form.description rows="7" cols="32" %} <br>
            <label for=""> Completed</label>
            {{form.completed}} <br> 
            <br>

            <div class="button-container">
                <button>save</button>
            </div>

        </form>
    </div>
</body>
</html>
