
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#uplode-form {
    width: 22%;
    height: 40%;
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#cancel-uplode{
    margin-left: 10px;
    margin-right: 70px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #4CAF50; 
}
#uplode{
    margin-top: 10px;
    color: white;
    padding: 12px;
    border-radius: 5px;;
    background-color: #FFA500;
}
.whole-div {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.inner-div {
    width: 30%;
    height: 60%;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    background-color:lightgray;
    
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 3%;
    color: #FFA500;
}
body{
    overflow-y: hidden;
    background-color: hsl(234, 29%, 20%);
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
#uplode-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    
}
.delete-icon{
    position: absolute;
    right: 2%;
}
   
.todo-title{
    width: 98%;
    padding: 2%;
    font-size: 25px;
    border-bottom: 0.2px solid black; 
}
.scrol{
    overflow-y: inherit;
    overflow-x: hidden;
    height: 77%;
}
a{
    color:black;
}

@media only screen and (min-width: 320px) and (max-width: 425px){
    .inner-div {
        width: 80%;
        height: 60%;
        position: relative;
        border: 2px solid black;
        
    }
    #uplode-form {
        width: 75%;
        height: 50%;
        display: none;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px){
    .inner-div {
        width: 70%;
        height: 60%;
        position: relative;
        border: 2px solid black;
        
    }
    #uplode-form {
        width: 70%;
        height: 50%;
        display: none;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    }
}
@media only screen and (min-width: 728px) and (max-width: 768px) {
    .inner-div {
        width: 45%;
        height: 70%;
        position: relative;
        border: 2px solid black;
        
    }
    #uplode-form {
        width: 35%;
        height: 50%;
        display: none;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    }

}
